 <!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://192.168.3.130/ifpr</property>
		<property name="connection.username">marlon</property>
		<property name="connection.password">ifpr</property>
		<property name="pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="show_sql">true</property>
		<property name="connection.autoReconnect">true</property>
        <property name="connection.autoReconnectForPools">true</property> 


		<mapping resource="Acao.hbm.xml" />
		<mapping resource="AreaConhecimento.hbm.xml" />
		<mapping resource="Autenticacao.hbm.xml" />
		<mapping resource="Banco.hbm.xml" />
		<mapping resource="Cargo.hbm.xml" />
		<mapping resource="Cidade.hbm.xml" />
		<mapping resource="Classe.hbm.xml" />
		<mapping resource="Conjuge.hbm.xml" />
		<mapping resource="ContaBancaria.hbm.xml" />
		<mapping resource="CorPele.hbm.xml" />
		<mapping resource="Dependente.hbm.xml" />
		<mapping resource="Documento.hbm.xml" />
		<mapping resource="Endereco.hbm.xml" />
		<mapping resource="Emprego.hbm.xml" />
		<mapping resource="Estado.hbm.xml" />
		<mapping resource="EstadoCivil.hbm.xml" />
		<mapping resource="Funcao.hbm.xml" />
		<mapping resource="GrauParentesco.hbm.xml" />
		<mapping resource="Grupo.hbm.xml" />
		<mapping resource="GrupoSanguineo.hbm.xml" />
		<mapping resource="Imigrante.hbm.xml" />
		<mapping resource="Lotacao.hbm.xml" />
		<mapping resource="Padrao.hbm.xml" />
		<mapping resource="Pais.hbm.xml" />
		<mapping resource="Progressao.hbm.xml" />
		<mapping resource="RegimeTrabalho.hbm.xml" />
		<mapping resource="Servidor.hbm.xml" />
		<mapping resource="ServidorTitulacao.hbm.xml" />
		<mapping resource="SituacaoFuncional.hbm.xml" />
		<mapping resource="TipoFuncao.hbm.xml" />
		<mapping resource="Titulacao.hbm.xml" />
	</session-factory>
</hibernate-configuration>